.wrapper {
  /* margin-top: 2rem; */
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  color: aliceblue;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}


.feedbackSection {
  margin-top: 2rem;
  text-align: center;
  color: #ffffff;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Slightly darker shadow */
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  color: #ffffff; /* White text inside the card */
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 2px solid #e11d48; /* Red border around profile image */
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #e11d48; /* Bright red for the name */
}

.card p {
  font-size: 0.9rem;
  color: #d1d5db; /* Light gray for the feedback text */
}

.dots {
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #6b7280; /* Gray dots */
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #e11d48; /* Bright red for the active dot */
}

body {
  background-color: #121212; /* Black background for the page */
  color: #ffffff; /* White text */
}


.mmWhatThaySays{
  background-color: #000000;
}